html {
    background-color: beige;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.title {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.feedback {
    display: inline;
}

.feedback a {
    color: #007f00;
    cursor: pointer;
    border-bottom: 3px solid #007f00;
}
